<h1>makes</h1>
<h3>新規投稿ページ</h3>
<%= form_for @tweet do |f| %>


  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: "hoge", size: "30x10" %>
  </div>

  <div class="field">
    <%= f.label :cosme %>
    <%= f.text_field :cosme, :size => 30 %>
  </div>

   <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

   <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", tweets_path %>